#navbar {
  background-color: rgb(255, 166, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
#left-nav {
  padding-left: 15px;
}
#left-nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}
#right-nav {
  padding-right: 15px;
  display: flex;
  gap: 15px;
  list-style-type: none;
  margin: 12px;
}
#right-nav li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

@media screen and (max-width: 720px) {
  #left-nav a {
    font-size: 16px;
  }
  #right-nav li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
  #left-nav a {
    font-size: 14px;
  }
  #right-nav li a {
    font-size: 12px;
  }
  #right-nav {
    margin: 8px;
  }
}
